.body{text-align: center;
background-color: #cfa8c3;
}

.titulo1{
    color: #f1edec;
}

.parrafo{
    color: #000000;
    line-height: 20px;
}
.subtitulo{
    text-align: left;
    color: #191933;
}
.parrafoL{
    text-align: justify;
}
Titulo